__pycache__/
*.coverage
*.log
*.pyc
*.sqlite3
.DS_Store
.vscode
celerybeat.pid
celerybeat-schedule.*

/b2b_api/settings/local_settings.py
/media/
/postgres-data/
/redis-data/
/smedia/
/static/
/version.txt
/dump.rdb
/env/
/plot/